td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
td button{
    height: 50px;
    display:flex;
    flex-grow:2;
    align-items:center;
}
header div img .div565{
    background-image: url("image\372496.jpg");
}
section div1 {
    background-image: url("image\372496.jpg");
}